<a href="https://colab.research.google.com/github/DianaTorresV/Machine_Learning_Project_Segmentation/blob/main/Final_Query_TravelTide_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Libraries
import pandas as pd
import sqlalchemy as sa

In [ ]:
# URL format
TravelTide_Dataset_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide'

# Create an SQLAlchemy engine
engine = sa.create_engine(TravelTide_Dataset_url)

# Establish the connection
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

##Schema

![TravelTide Company.png]()

###Filters

##Aggregations for ML

In [ ]:
query1= """
  WITH general_table AS
  (SELECT u.user_id,
   --users
   				CASE WHEN u.gender='F' THEN 0 WHEN u.gender='M' THEN 1 WHEN u.gender='O' THEN 3
   				END AS gender,
          ROUND(CAST(DATE_PART('YEAR',AGE(CURRENT_DATE, u.birthdate::date))
                     +(DATE_PART('MONTH',AGE(CURRENT_DATE,u.birthdate::date))/12.0) AS numeric),2)
          AS age_in_years_with_months,
          CASE WHEN u.has_children THEN 1 ELSE 0 END AS has_children,
          CASE WHEN u.married THEN 1 ELSE 0 END AS is_married,
          CASE WHEN u.has_children='True' OR u.married='True' THEN 1 ELSE 0 END AS is_family,
          u.home_country,u.home_city,u.home_airport,u.home_airport_lat,u.home_airport_lon,
          EXTRACT(DAY FROM NOW()-u.sign_up_date) AS days_since_signed_up,
  --sessions
          s.session_id,s.trip_id, s.session_start,
          ROUND(EXTRACT(HOUR FROM s.session_end-s.session_start)*60+EXTRACT(MINUTES FROM s.session_end-s.session_start)+
                (EXTRACT(SECONDS FROM s.session_end-s.session_start)/60.0),2) AS session_duration_in_min,
          CASE WHEN s.flight_discount THEN 1 ELSE 0 END AS flight_discount,
          s.flight_discount_amount,
          CASE WHEN s.hotel_discount THEN 1 ELSE 0 END AS hotel_discount,
          hotel_discount_amount,
          CASE WHEN s.flight_booked THEN 1 ELSE 0 END AS flight_booked,
          CASE WHEN s.hotel_booked THEN 1 ELSE 0 END AS hotel_booked,
          s.page_clicks,
          CASE WHEN s.cancellation THEN 1 ELSE 0 END AS trip_cancellation,
   --flights
          f.origin_airport,
          f.destination,
          f.destination_airport,
          f.seats,
          CASE WHEN f.return_flight_booked THEN 1 ELSE 0 END AS return_flight_booked,
          f.departure_time,
          f.return_time,
          f.checked_bags,
          f.trip_airline,
          f.destination_airport,
          f.destination_airport_lat,
          f.destination_airport_lon,
          f.base_fare_usd,
   --hotels
          h.hotel_name,
          h.nights,CASE WHEN h.nights>=0 THEN h.nights ELSE -h.nights END AS nights_fixed,
          h.rooms,
          h.check_in_time,
          h.check_out_time,
          h.hotel_per_room_usd

  FROM users u
  FULL JOIN sessions s USING(user_id)
  FULL JOIN flights f USING(trip_id)
  FULL JOIN hotels h USING(trip_id)
  WHERE s.session_start>'2023-01-04'
  ),

  --new table
  age_group_table AS(

  SELECT  g.user_id,
          g.age_in_years_with_months,

          CASE WHEN 18<=g.age_in_years_with_months AND g.age_in_years_with_months<=20 THEN '18-20'
          WHEN 21<=g.age_in_years_with_months AND g.age_in_years_with_months<31 THEN '21-30'
          WHEN 31<=g.age_in_years_with_months AND g.age_in_years_with_months<41 THEN '31-40'
          WHEN 41<=g.age_in_years_with_months AND g.age_in_years_with_months<51 THEN '41-50'
          WHEN 51<=g.age_in_years_with_months AND g.age_in_years_with_months<61 THEN '51-60'
          WHEN 61<=g.age_in_years_with_months AND g.age_in_years_with_months<71 THEN '61-70'
          WHEN 71<=g.age_in_years_with_months AND g.age_in_years_with_months<81 THEN '71-80'
          ELSE '81+'END AS age_group
   FROM general_table g
   GROUP BY g.user_id,g.age_in_years_with_months

   ),

  --new table
  reservations_table AS(
  SELECT  g.user_id,
  --sessions table

          COUNT(DISTINCT g.session_id) AS total_num_sessions,
          COUNT(DISTINCT g.trip_id) AS total_trips_booked,
          -- COUNT(DISTINCT CASE WHEN trip_cancellation = 1 THEN trip_id END) AS
          --total_cancelled_trips_booked,

          COUNT(DISTINCT g.trip_id)-COUNT(DISTINCT CASE WHEN trip_cancellation = 1 THEN trip_id END)AS
          total_no_canceled_trips,

          SUM(g.session_duration_in_min) AS total_session_duration_in_min,
          ROUND(AVG(g.session_duration_in_min),2) AS avg_session_duration_in_min,

          --trips and sessions
          SUM(g.trip_cancellation) AS total_canceled_trips,
          SUM(g.page_clicks) AS total_page_clicks,
          ROUND(AVG(g.page_clicks),2) AS avg_page_clicks

  FROM general_table g
  GROUP BY g.user_id
  ),

  ---where we exclude the duplicates trips appropiately and take only trips once for the aggregations

  --Auxiliar table
  unique_trips AS (
  SELECT 	g.*,ROW_NUMBER() OVER(PARTITION BY g.trip_id ORDER BY CASE WHEN g.trip_cancellation=0 THEN 2 ELSE 1 END,
                            g.session_start DESC) AS row_num


  FROM general_table g
  WHERE g.trip_id IS NOT NULL
  ),

  --auxiliar table2 (CTE)
  points AS (
  SELECT u.user_id,s.trip_id, u.home_airport_lat AS point1_lat, u.home_airport_lon AS point1_lon,
         f.destination_airport_lat AS point2_lat,f.destination_airport_lon AS point2_lon

  FROM users u
  LEFT JOIN sessions s ON u.user_id=s.user_id
  LEFT JOIN flights f ON s.trip_id=f.trip_id
  ),

  distance_table AS(
  SELECT p.trip_id,p.point1_lat, p.point1_lon, p.point2_lat,p.point2_lon,
  COALESCE(2 * 6371 * ASIN(SQRT(
          POWER(SIN(RADIANS(point2_lat - point1_lat) / 2), 2) +
          COS(RADIANS(point1_lat)) * COS(RADIANS(point2_lat)) *
          POWER(SIN(RADIANS(point2_lon - point1_lon) / 2), 2)
      )),0) AS distance_km
  FROM points p),

  aggregations_unique_trips AS(
  SELECT ut.user_id,
  --sessions table

        --flights
         SUM(ut.flight_discount) AS total_num_flight_discount,
         SUM(ut.flight_discount_amount) AS total_flight_discount_amount,
         ROUND(AVG(ut.flight_discount_amount),2) AS avg_flight_discount_amount,

          --Distance flown for no cancelled trips
          COALESCE(SUM(CASE WHEN ut.trip_cancellation=0 THEN d.distance_km ELSE 0 END)+
          SUM(CASE WHEN ut.trip_cancellation=0 AND ut.return_flight_booked=1 THEN d.distance_km ELSE 0 END),0)
          --SUM(d.distance_km)
                    AS total_distance_flown_km,

          --hotel
         SUM(ut.hotel_discount) AS total_num_hotel_discount,
         SUM(ut.hotel_discount_amount) AS total_hotel_discount_amount,
         ROUND(AVG(ut.hotel_discount_amount),2) AS avg_hotel_discount_amount,

          --flight
         SUM(ut.flight_booked) AS total_flight_booked,
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.flight_booked ELSE 0 END)
                  AS total_flight_booked_aft_cancellation,

          --hotel
         SUM(ut.hotel_booked) AS total_hotel_booked,
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.hotel_booked ELSE 0 END)
                  AS total_hotel_booked_aft_cancellation,

  --flights table
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.seats ELSE 0 END)
                  AS num_seats,
         ROUND(AVG(CASE WHEN ut.trip_cancellation=0 THEN ut.seats ELSE 0 END),2)
                  AS avg_num_seats,

          SUM(ut.return_flight_booked)
                  AS total_return_flight_booked,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.return_flight_booked ELSE 0 END)
                  AS total_return_flight_booked_aft_cancellation,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.flight_booked ELSE 0 END)+ SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.return_flight_booked ELSE 0 END)
                  AS total_flights_aft_cancellation,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.checked_bags ELSE 0 END) AS num_checked_bags,
         ROUND(AVG(CASE WHEN ut.trip_cancellation=0 THEN ut.checked_bags ELSE 0 END),2) AS avg_num_checked_bags,
         COUNT(DISTINCT ut.trip_airline) AS total_num_trip_airline,

    --base_fare
         SUM(CASE WHEN ut.trip_cancellation= 0 THEN ut.base_fare_usd ELSE 0 END)
                  AS total_paid_for_flights_bef_discount,

         SUM(CASE WHEN ut.trip_cancellation= 0 AND ut.flight_discount=1 THEN ut.base_fare_usd-ut.flight_discount_amount*ut.base_fare_usd
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.base_fare_usd ELSE 0 END)
                  AS total_paid_for_flights_aft_discount,

         ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 THEN ut.base_fare_usd ELSE 0 END),2) AS avg_paid_for_flights_bef_discount,
         ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 AND ut.flight_discount=1 THEN ut.base_fare_usd-ut.flight_discount_amount*ut.base_fare_usd
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.base_fare_usd ELSE 0 END),2)
                  AS avg_paid_for_flights_aft_discount,


  --hotels table
        SUM(ut.nights_fixed) AS total_num_nights_fixed,
        SUM(ut.rooms) AS total_num_rooms,

         --hotel price
        SUM(CASE WHEN ut.trip_cancellation= 0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END)
                 AS total_paid_for_hotel_bef_discount,

        SUM(CASE WHEN ut.trip_cancellation= 0 AND ut.hotel_discount=1 THEN ut.hotel_per_room_usd*ut.rooms-ut.hotel_discount_amount*ut.hotel_per_room_usd*ut.rooms
                 WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END)
                 AS total_paid_for_hotel_aft_discount,

        ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END),2)
                  AS avg_paid_for_hotel_bef_discount,
        ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 AND ut.hotel_discount=1 THEN ut.hotel_per_room_usd*ut.rooms-ut.hotel_discount_amount*ut.hotel_per_room_usd*ut.rooms
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END),2)
                  AS avg_paid_for_hotel_aft_discount

  FROM unique_trips ut
  FULL JOIN distance_table d ON ut.trip_id=d.trip_id
  WHERE ut.row_num=1
  GROUP BY ut.user_id
  )


  --summary agreggations_table

  SELECT  DISTINCT g.user_id,g.gender,g.home_country,g.home_city,g.home_airport,
          g.days_since_signed_up,g.has_children,g.is_married,g.is_family,
          g.age_in_years_with_months,a.age_group,r.total_num_sessions,
          r.total_trips_booked,r.total_no_canceled_trips,
          r.total_canceled_trips,
          r.total_session_duration_in_min,

          r.avg_session_duration_in_min,
          r.total_page_clicks,
          r.avg_page_clicks,

          COALESCE(agg.total_num_flight_discount,0)
          AS total_num_flight_discount,
          COALESCE(agg.total_flight_discount_amount,CASE WHEN COALESCE(agg.total_num_flight_discount,0)=0 THEN 0 END)
          AS total_flight_discount_amount,

          COALESCE(agg.avg_flight_discount_amount,CASE WHEN COALESCE(agg.total_num_flight_discount,0)=0 THEN 0 END)
          AS avg_flight_discount_amount,


          COALESCE(agg.total_num_hotel_discount,0)
          AS total_num_hotel_discount,

          COALESCE(agg.total_hotel_discount_amount,CASE WHEN COALESCE(agg.total_num_hotel_discount,0)=0 THEN 0 END)
          AS total_hotel_discount_amount,

          COALESCE(agg.avg_hotel_discount_amount,CASE WHEN COALESCE(agg.total_num_hotel_discount,0)=0 THEN 0 END)
          AS avg_hotel_discount_amount,


          COALESCE(agg.total_flight_booked,0)
          AS total_one_way_flight_booked,

          COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))
          AS total_one_way_flight_booked_aft_cancellation,

          COALESCE(agg.total_return_flight_booked,0)
          AS total_return_flight_booked,

          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))
          AS total_return_flight_booked_aft_cancellation,

          COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))
          AS total_flights_aft_cancellation,

          COALESCE(agg.total_paid_for_flights_bef_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS total_paid_for_flights_bef_discount,

          COALESCE(agg.total_paid_for_flights_aft_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS total_paid_for_flights_aft_discount,

          COALESCE(agg.avg_paid_for_flights_aft_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS avg_paid_for_flights_aft_discount,

          COALESCE(agg.total_num_trip_airline, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS total_num_trip_airline,

          COALESCE(agg.num_seats, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS num_seats,

          COALESCE(agg.avg_num_seats, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS avg_num_seats,

          COALESCE(agg.num_checked_bags, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS num_checked_bags,

          COALESCE(agg.avg_num_checked_bags, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS avg_num_checked_bags,

          COALESCE(agg.total_distance_flown_km,0)
          AS total_distance_flown_km,


          COALESCE(agg.total_hotel_booked,0) AS total_hotel_booked,

          COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))
          AS total_hotel_booked_aft_cancellation,

          COALESCE(agg.total_paid_for_hotel_bef_discount, CASE WHEN COALESCE(agg.total_hotel_booked,0)=0 THEN 0 END)
          AS total_paid_for_hotel_bef_discount,

          COALESCE(agg.total_paid_for_hotel_aft_discount, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_paid_for_hotel_aft_discount,

          COALESCE(agg.avg_paid_for_hotel_aft_discount, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
          AS avg_paid_for_hotel_aft_discount,

           COALESCE(agg.total_num_nights_fixed, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_num_nights_fixed,

          COALESCE(agg.total_num_rooms, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_num_rooms



  FROM general_table g
  FULL JOIN age_group_table a ON g.user_id=a.user_id
  FULL JOIN reservations_table r ON g.user_id=r.user_id
  FULL JOIN aggregations_unique_trips agg ON g.user_id=agg.user_id
  WHERE r.total_num_sessions>=7
  LIMIT 100










"""

display(pd.read_sql(sa.text(query1),connection))

,user_id,gender,home_country,home_city,home_airport,days_since_signed_up,has_children,is_married,is_family,age_in_years_with_months,...,num_checked_bags,avg_num_checked_bags,total_distance_flown_km,total_hotel_booked,total_hotel_booked_aft_cancellation,total_paid_for_hotel_bef_discount,total_paid_for_hotel_aft_discount,avg_paid_for_hotel_aft_discount,total_num_nights_fixed,total_num_rooms
0,3468,0,usa,new york,JFK,1443.0,0,1,1,40.00,...,1,0.33,11808.960200,2,2,282.0,282.00,94.00,10,2
1,4605,0,usa,columbus,CMH,1438.0,1,1,1,27.83,...,0,0.00,0.000000,0,0,0.0,0.00,0.00,0,0
2,6402,0,canada,toronto,YKZ,1432.0,0,0,0,18.83,...,1,1.00,1397.606588,1,1,252.0,0.00,0.00,3,1
3,23557,0,usa,new york,LGA,1390.0,0,1,1,66.42,...,0,0.00,0.000000,2,2,445.0,379.25,189.63,20,3
4,26878,0,usa,honolulu,HNL,1383.0,0,0,0,19.17,...,0,0.00,12591.187524,1,1,275.0,275.00,275.00,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,155929,1,usa,detroit,DTW,1117.0,0,1,1,59.50,...,1,0.33,6356.185561,3,1,120.0,120.00,40.00,24,3
96,157049,0,usa,philadelphia,PHL,1116.0,0,0,0,44.50,...,1,0.33,1290.206232,2,0,0.0,0.00,0.00,0,0
97,158015,0,usa,chicago,MDW,1115.0,1,1,1,54.08,...,1,0.33,6347.568867,3,3,1024.0,1024.00,341.33,2,5
98,158633,0,usa,san jose,SJC,1114.0,0,1,1,51.17,...,1,0.50,5648.310585,3,3,587.0,571.80,190.60,10,3
99,158648,0,usa,austin,AUS,1114.0,1,1,1,45.67,...,1,1.00,2432.009667,2,2,323.0,300.80,150.40,19,2

###After Python Analysis on the data frame

In [ ]:
query2= """
  WITH general_table AS
  (SELECT u.user_id,
   --users
   				CASE WHEN u.gender='F' THEN 0 WHEN u.gender='M' THEN 1 WHEN u.gender='O' THEN 3
   				END AS gender,
          ROUND(CAST(DATE_PART('YEAR',AGE(CURRENT_DATE, u.birthdate::date))
                     +(DATE_PART('MONTH',AGE(CURRENT_DATE,u.birthdate::date))/12.0) AS numeric),2)
          AS age_in_years_with_months,
          CASE WHEN u.has_children THEN 1 ELSE 0 END AS has_children,
          CASE WHEN u.married THEN 1 ELSE 0 END AS is_married,
          CASE WHEN u.has_children='True' OR u.married='True' THEN 1 ELSE 0 END AS is_family,
          u.home_country,u.home_city,u.home_airport,u.home_airport_lat,u.home_airport_lon,
          EXTRACT(DAY FROM NOW()-u.sign_up_date) AS days_since_signed_up,
  --sessions
          s.session_id,s.trip_id, s.session_start,
          ROUND(EXTRACT(HOUR FROM s.session_end-s.session_start)*60+EXTRACT(MINUTES FROM s.session_end-s.session_start)+
                (EXTRACT(SECONDS FROM s.session_end-s.session_start)/60.0),2) AS session_duration_in_min,
          CASE WHEN s.flight_discount THEN 1 ELSE 0 END AS flight_discount,
          s.flight_discount_amount,
          CASE WHEN s.hotel_discount THEN 1 ELSE 0 END AS hotel_discount,
          hotel_discount_amount,
          CASE WHEN s.flight_booked THEN 1 ELSE 0 END AS flight_booked,
          CASE WHEN s.hotel_booked THEN 1 ELSE 0 END AS hotel_booked,
          s.page_clicks,
          CASE WHEN s.cancellation THEN 1 ELSE 0 END AS trip_cancellation,
   --flights
          f.origin_airport,
          f.destination,
          f.destination_airport,
          f.seats,
          CASE WHEN f.return_flight_booked THEN 1 ELSE 0 END AS return_flight_booked,
          f.departure_time,
          f.return_time,
          f.checked_bags,
          f.trip_airline,
          f.destination_airport,
          f.destination_airport_lat,
          f.destination_airport_lon,
          f.base_fare_usd,
   --hotels
          h.hotel_name,
          h.nights,CASE WHEN h.nights>=0 THEN h.nights ELSE -h.nights END AS nights_fixed,
          h.rooms,
          h.check_in_time,
          h.check_out_time,
          h.hotel_per_room_usd

  FROM users u
  FULL JOIN sessions s USING(user_id)
  FULL JOIN flights f USING(trip_id)
  FULL JOIN hotels h USING(trip_id)
  WHERE s.session_start>'2023-01-04'
  ),

  --new table
  age_group_table AS(

  SELECT  g.user_id,
          g.age_in_years_with_months,

          CASE WHEN 18<=g.age_in_years_with_months AND g.age_in_years_with_months<=20 THEN '18-20'
          WHEN 21<=g.age_in_years_with_months AND g.age_in_years_with_months<31 THEN '21-30'
          WHEN 31<=g.age_in_years_with_months AND g.age_in_years_with_months<41 THEN '31-40'
          WHEN 41<=g.age_in_years_with_months AND g.age_in_years_with_months<51 THEN '41-50'
          WHEN 51<=g.age_in_years_with_months AND g.age_in_years_with_months<61 THEN '51-60'
          WHEN 61<=g.age_in_years_with_months AND g.age_in_years_with_months<71 THEN '61-70'
          WHEN 71<=g.age_in_years_with_months AND g.age_in_years_with_months<81 THEN '71-80'
          ELSE '81+'END AS age_group
   FROM general_table g
   GROUP BY g.user_id,g.age_in_years_with_months

   ),

  --new table
  reservations_table AS(
  SELECT  g.user_id,
  --sessions table

          COUNT(DISTINCT g.session_id) AS total_num_sessions,
          COUNT(DISTINCT g.trip_id) AS total_trips_booked,
          -- COUNT(DISTINCT CASE WHEN trip_cancellation = 1 THEN trip_id END) AS
          --total_cancelled_trips_booked,

          COUNT(DISTINCT g.trip_id)-COUNT(DISTINCT CASE WHEN trip_cancellation = 1 THEN trip_id END)AS
          total_no_canceled_trips,

          SUM(g.session_duration_in_min) AS total_session_duration_in_min,
          ROUND(AVG(g.session_duration_in_min),2) AS avg_session_duration_in_min,

          --trips and sessions
          SUM(g.trip_cancellation) AS total_canceled_trips,
          SUM(g.page_clicks) AS total_page_clicks,
          ROUND(AVG(g.page_clicks),2) AS avg_page_clicks

  FROM general_table g
  GROUP BY g.user_id
  ),

  ---where we exclude the duplicates trips appropiately and take only trips once for the aggregations

  --Auxiliar table
  unique_trips AS (
  SELECT 	g.*,ROW_NUMBER() OVER(PARTITION BY g.trip_id ORDER BY CASE WHEN g.trip_cancellation=0 THEN 2 ELSE 1 END,
                            g.session_start DESC) AS row_num


  FROM general_table g
  WHERE g.trip_id IS NOT NULL
  ),

  --auxiliar table2 (CTE)
  points AS (
  SELECT u.user_id,s.trip_id, u.home_airport_lat AS point1_lat, u.home_airport_lon AS point1_lon,
         f.destination_airport_lat AS point2_lat,f.destination_airport_lon AS point2_lon

  FROM users u
  LEFT JOIN sessions s ON u.user_id=s.user_id
  LEFT JOIN flights f ON s.trip_id=f.trip_id
  ),

  distance_table AS(
  SELECT p.trip_id,p.point1_lat, p.point1_lon, p.point2_lat,p.point2_lon,
  COALESCE(2 * 6371 * ASIN(SQRT(
          POWER(SIN(RADIANS(point2_lat - point1_lat) / 2), 2) +
          COS(RADIANS(point1_lat)) * COS(RADIANS(point2_lat)) *
          POWER(SIN(RADIANS(point2_lon - point1_lon) / 2), 2)
      )),0) AS distance_km
  FROM points p),

  aggregations_unique_trips AS(
  SELECT ut.user_id,
  --sessions table

        --flights
         SUM(ut.flight_discount) AS total_num_flight_discount,
         SUM(ut.flight_discount_amount) AS total_flight_discount_amount,
         ROUND(AVG(ut.flight_discount_amount),2) AS avg_flight_discount_amount,

          --Distance flown for no cancelled trips
          COALESCE(SUM(CASE WHEN ut.trip_cancellation=0 THEN d.distance_km ELSE 0 END)+
          SUM(CASE WHEN ut.trip_cancellation=0 AND ut.return_flight_booked=1 THEN d.distance_km ELSE 0 END),0)
          --SUM(d.distance_km)
                    AS total_distance_flown_km,

          --hotel
         SUM(ut.hotel_discount) AS total_num_hotel_discount,
         SUM(ut.hotel_discount_amount) AS total_hotel_discount_amount,
         ROUND(AVG(ut.hotel_discount_amount),2) AS avg_hotel_discount_amount,

          --flight
         SUM(ut.flight_booked) AS total_flight_booked,
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.flight_booked ELSE 0 END)
                  AS total_flight_booked_aft_cancellation,

          --hotel
         SUM(ut.hotel_booked) AS total_hotel_booked,
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.hotel_booked ELSE 0 END)
                  AS total_hotel_booked_aft_cancellation,

  --flights table
         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.seats ELSE 0 END)
                  AS num_seats,
         ROUND(AVG(CASE WHEN ut.trip_cancellation=0 THEN ut.seats ELSE 0 END),2)
                  AS avg_num_seats,

          SUM(ut.return_flight_booked)
                  AS total_return_flight_booked,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.return_flight_booked ELSE 0 END)
                  AS total_return_flight_booked_aft_cancellation,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.flight_booked ELSE 0 END)+ SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.return_flight_booked ELSE 0 END)
                  AS total_flights_aft_cancellation,

         SUM(CASE WHEN ut.trip_cancellation=0 THEN ut.checked_bags ELSE 0 END) AS num_checked_bags,
         ROUND(AVG(CASE WHEN ut.trip_cancellation=0 THEN ut.checked_bags ELSE 0 END),2) AS avg_num_checked_bags,
         COUNT(DISTINCT ut.trip_airline) AS total_num_trip_airline,

    --base_fare
         SUM(CASE WHEN ut.trip_cancellation= 0 THEN ut.base_fare_usd ELSE 0 END)
                  AS total_paid_for_flights_bef_discount,

         SUM(CASE WHEN ut.trip_cancellation= 0 AND ut.flight_discount=1 THEN ut.base_fare_usd-ut.flight_discount_amount*ut.base_fare_usd
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.base_fare_usd ELSE 0 END)
                  AS total_paid_for_flights_aft_discount,

         ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 THEN ut.base_fare_usd ELSE 0 END),2) AS avg_paid_for_flights_bef_discount,
         ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 AND ut.flight_discount=1 THEN ut.base_fare_usd-ut.flight_discount_amount*ut.base_fare_usd
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.base_fare_usd ELSE 0 END),2)
                  AS avg_paid_for_flights_aft_discount,


  --hotels table
        SUM(ut.nights_fixed) AS total_num_nights_fixed,
        SUM(ut.rooms) AS total_num_rooms,

         --hotel price
        SUM(CASE WHEN ut.trip_cancellation= 0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END)
                 AS total_paid_for_hotel_bef_discount,

        SUM(CASE WHEN ut.trip_cancellation= 0 AND ut.hotel_discount=1 THEN ut.hotel_per_room_usd*ut.rooms-ut.hotel_discount_amount*ut.hotel_per_room_usd*ut.rooms
                 WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END)
                 AS total_paid_for_hotel_aft_discount,

        ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END),2)
                  AS avg_paid_for_hotel_bef_discount,
        ROUND(AVG(CASE WHEN ut.trip_cancellation= 0 AND ut.hotel_discount=1 THEN ut.hotel_per_room_usd*ut.rooms-ut.hotel_discount_amount*ut.hotel_per_room_usd*ut.rooms
                  WHEN ut.trip_cancellation= 0 AND ut.flight_discount=0 THEN ut.hotel_per_room_usd*ut.rooms ELSE 0 END),2)
                  AS avg_paid_for_hotel_aft_discount

  FROM unique_trips ut
  FULL JOIN distance_table d ON ut.trip_id=d.trip_id
  WHERE ut.row_num=1
  GROUP BY ut.user_id
  )


  --summary agreggations_table

  SELECT  DISTINCT g.user_id,g.gender,g.home_country,g.home_city,g.home_airport,
          g.days_since_signed_up,g.has_children,g.is_married,g.is_family,
          g.age_in_years_with_months,a.age_group,r.total_num_sessions,
          r.total_trips_booked,--r.total_no_canceled_trips,
          r.total_canceled_trips,
          r.total_session_duration_in_min,

          --r.avg_session_duration_in_min,
          r.total_page_clicks,
          --r.avg_page_clicks,

          COALESCE(agg.total_num_flight_discount,0)
          AS total_num_flight_discount,
          COALESCE(agg.total_flight_discount_amount,CASE WHEN COALESCE(agg.total_num_flight_discount,0)=0 THEN 0 END)
          AS total_flight_discount_amount,

          --COALESCE(agg.avg_flight_discount_amount,CASE WHEN COALESCE(agg.total_num_flight_discount,0)=0 THEN 0 END)
          --AS avg_flight_discount_amount,


          COALESCE(agg.total_num_hotel_discount,0)
          AS total_num_hotel_discount,

          COALESCE(agg.total_hotel_discount_amount,CASE WHEN COALESCE(agg.total_num_hotel_discount,0)=0 THEN 0 END)
          AS total_hotel_discount_amount,

          --COALESCE(agg.avg_hotel_discount_amount,CASE WHEN COALESCE(agg.total_num_hotel_discount,0)=0 THEN 0 END)
          --AS avg_hotel_discount_amount,


          --COALESCE(agg.total_flight_booked,0)
          --AS total_one_way_flight_booked,

          COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))
          AS total_one_way_flight_booked_aft_cancellation,

          --COALESCE(agg.total_return_flight_booked,0)
          --AS total_return_flight_booked,

          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))
          AS total_return_flight_booked_aft_cancellation,

          --COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          --COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))
          --AS total_flights_aft_cancellation,

          --COALESCE(agg.total_paid_for_flights_bef_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          --COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          --AS total_paid_for_flights_bef_discount,

          COALESCE(agg.total_paid_for_flights_aft_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS total_paid_for_flights_aft_discount,

          --COALESCE(agg.avg_paid_for_flights_aft_discount, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          --COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          --AS avg_paid_for_flights_aft_discount,

          COALESCE(agg.total_num_trip_airline, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS total_num_trip_airline,

          COALESCE(agg.num_seats, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS num_seats,

          --COALESCE(agg.avg_num_seats, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          --COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          --AS avg_num_seats,

          COALESCE(agg.num_checked_bags, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          AS num_checked_bags,

          --COALESCE(agg.avg_num_checked_bags, CASE WHEN COALESCE(agg.total_flight_booked_aft_cancellation,COALESCE(agg.total_flight_booked,0))+
          --COALESCE(agg.total_return_flight_booked_aft_cancellation,COALESCE(agg.total_return_flight_booked,0))=0 THEN 0 END)
          --AS avg_num_checked_bags,

          COALESCE(agg.total_distance_flown_km,0)
          AS total_distance_flown_km,


          --COALESCE(agg.total_hotel_booked,0) AS total_hotel_booked,

          COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))
          AS total_hotel_booked_aft_cancellation,

         -- COALESCE(agg.total_paid_for_hotel_bef_discount, CASE WHEN COALESCE(agg.total_hotel_booked,0)=0 THEN 0 END)
          --AS total_paid_for_hotel_bef_discount,

          COALESCE(agg.total_paid_for_hotel_aft_discount, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_paid_for_hotel_aft_discount,

          --COALESCE(agg.avg_paid_for_hotel_aft_discount, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           --AS avg_paid_for_hotel_aft_discount,

           COALESCE(agg.total_num_nights_fixed, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_num_nights_fixed,

          COALESCE(agg.total_num_rooms, CASE WHEN COALESCE(agg.total_hotel_booked_aft_cancellation,COALESCE(agg.total_hotel_booked,0))=0 THEN 0 END)
           AS total_num_rooms



  FROM general_table g
  FULL JOIN age_group_table a ON g.user_id=a.user_id
  FULL JOIN reservations_table r ON g.user_id=r.user_id
  FULL JOIN aggregations_unique_trips agg ON g.user_id=agg.user_id
  WHERE r.total_num_sessions>=7
LIMIT 100

"""

display(pd.read_sql(sa.text(query2),connection))

,user_id,gender,home_country,home_city,home_airport,days_since_signed_up,has_children,is_married,is_family,age_in_years_with_months,...,total_return_flight_booked_aft_cancellation,total_paid_for_flights_aft_discount,total_num_trip_airline,num_seats,num_checked_bags,total_distance_flown_km,total_hotel_booked_aft_cancellation,total_paid_for_hotel_aft_discount,total_num_nights_fixed,total_num_rooms
0,3468,0,usa,new york,JFK,1443.0,0,1,1,40.00,...,3,1081.7835,3,3,1,11808.960200,2,282.00,10,2
1,4605,0,usa,columbus,CMH,1438.0,1,1,1,27.83,...,0,0.0000,0,0,0,0.000000,0,0.00,0,0
2,6402,0,canada,toronto,YKZ,1432.0,0,0,0,18.83,...,1,117.5720,1,1,1,1397.606588,1,0.00,3,1
3,23557,0,usa,new york,LGA,1390.0,0,1,1,66.42,...,0,0.0000,0,0,0,0.000000,2,379.25,20,3
4,26878,0,usa,honolulu,HNL,1383.0,0,0,0,19.17,...,1,1063.2200,1,1,0,12591.187524,1,275.00,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,155929,1,usa,detroit,DTW,1117.0,0,1,1,59.50,...,1,532.5700,2,1,1,6356.185561,1,120.00,24,3
96,157049,0,usa,philadelphia,PHL,1116.0,0,0,0,44.50,...,1,108.7100,1,1,1,1290.206232,0,0.00,0,0
97,158015,0,usa,chicago,MDW,1115.0,1,1,1,54.08,...,2,895.8700,3,5,1,6347.568867,3,1024.00,2,5
98,158633,0,usa,san jose,SJC,1114.0,0,1,1,51.17,...,2,450.8185,2,2,1,5648.310585,3,571.80,10,3
99,158648,0,usa,austin,AUS,1114.0,1,1,1,45.67,...,1,210.8600,1,1,1,2432.009667,2,300.80,19,2