<a href="https://colab.research.google.com/github/DianaTorresV/Machine_Learning_Project_Segmentation/blob/main/TravelTide_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The TravelTide Company Project

##Exploratory Data Analysis in SQL

###Import Libraries

In [ ]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
# URL format
TravelTide_Dataset_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide'

# Create an SQLAlchemy engine
engine = sa.create_engine(TravelTide_Dataset_url)

# Establish the connection
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

###Schema

![TravelTide Company.png]()

###Queries Data Exploration and familiarization

In [ ]:
query1 = """
SELECT *
FROM users
ORDER BY RANDOM()
LIMIT 10

;
"""
print("Result Query 1:Table 'users'")
display(pd.read_sql(sa.text(query1),connection))

Result Query 1:Table 'users'

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,593234,1989-02-28,M,False,False,usa,memphis,MEM,35.042,-89.977,2023-02-14
1,425902,1950-11-11,F,True,False,usa,new york,JFK,40.640,-73.779,2022-11-22
2,969369,1985-06-08,M,False,False,usa,san antonio,SAT,29.534,-98.470,2023-07-02
3,976639,1978-09-06,F,True,False,usa,fort worth,FTW,32.820,-97.362,2023-07-04
4,453187,1985-01-03,M,False,False,usa,seattle,SEA,47.449,-122.309,2022-12-06
5,451444,1965-09-01,F,False,False,usa,new york,JFK,40.640,-73.779,2022-12-05
6,624027,1965-01-01,F,True,True,usa,indianapolis,IND,39.717,-86.294,2023-02-27
7,998901,1971-10-23,M,True,False,canada,ottawa,YOW,45.323,-75.669,2023-07-13
8,453633,1975-05-07,F,True,False,usa,new york,LGA,40.777,-73.872,2022-12-06
9,743113,1980-09-27,O,False,False,canada,winnipeg,YWG,49.910,-97.234,2023-04-12

In [ ]:
query2 = """
SELECT *
FROM sessions
ORDER BY RANDOM()
LIMIT 10

;
"""
print("Result Query 2 : Table 'sessions'")
display(pd.read_sql(sa.text(query2),connection))

Result Query 2 : Table 'sessions'

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation
0,275788-5183d17f1a01426c8202f805092867d6,275788,275788-4839d892322640a3ad6e92a48a7ecdfa,2022-08-06 11:26:00,2022-08-06 11:27:37,True,False,0.10,NaN,False,True,13,False
1,65944-30a2ca3695b049b280c48428236467e7,65944,65944-6b2aebc992144906a25396504b303d40,2023-03-13 20:34:00,2023-03-13 20:38:06,False,False,NaN,NaN,True,True,33,False
2,321453-a68656b169c04a3181388fc2aa358aee,321453,None,2023-01-30 17:40:00,2023-01-30 17:40:15,False,False,NaN,NaN,False,False,2,False
3,494474-72cd688e4ec24298b38130deb684521c,494474,None,2023-03-01 10:55:00,2023-03-01 11:00:44,True,False,0.15,NaN,False,False,46,False
4,738377-ad06e70677f04354a597a44b01ecf98e,738377,None,2023-05-19 06:12:00,2023-05-19 06:13:05,True,False,0.05,NaN,False,False,9,False
5,118836-e20298db6f6c4c75a3f1df4e920228e3,118836,None,2023-01-08 21:26:00,2023-01-08 21:27:08,False,False,NaN,NaN,False,False,9,False
6,172062-6062cab207834534b55f4922e11f4096,172062,172062-c8c35f39db65467f954804b2c0bf813c,2022-08-26 21:08:00,2022-08-26 21:10:45,True,False,0.05,NaN,True,True,23,False
7,360055-be4fbc3d20c2483e8537de496efedeb9,360055,360055-08fbb432f2d9442a91167c3922b4e835,2022-10-31 15:23:00,2022-10-31 15:25:49,False,False,NaN,NaN,True,True,22,False
8,717258-cb4da2c98e8e45d0984fdd29d8c9f3b3,717258,None,2023-04-03 15:51:00,2023-04-03 15:51:53,False,False,NaN,NaN,False,False,7,False
9,358311-f67a297162d2489f849adea4f9bb1e14,358311,None,2022-10-10 11:27:00,2022-10-10 11:28:19,False,True,NaN,0.05,False,False,10,False

In [ ]:
query3 = """
SELECT *
FROM flights
ORDER BY RANDOM()
LIMIT 10

;
"""
print("Result Query 3 : Table 'flights'")
display(pd.read_sql(sa.text(query3),connection))

Result Query 3 : Table 'flights'

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,21834-9a830a97913d49478212a8b1e8abff6f,YUL,toronto,YTZ,1,True,2022-04-19 13:00:00,2022-04-24 13:00:00,1,Porter Airlines,43.862,-79.370,93.48
1,727216-8a9f55ee0e6a4f5dbc1f561587f2491c,YHU,phoenix,LUF,1,True,2023-07-07 09:00:00,2023-07-11 09:00:00,0,Ryanair,33.535,-112.383,454.86
2,808285-e28192bb9c5d4b6589ce9799b5e28eb9,IAD,san antonio,RND,1,True,2023-07-19 14:00:00,2023-07-28 14:00:00,1,Delta Air Lines,29.529,-98.279,378.68
3,888502-ffab1376cbf14fe8974078d596d021ab,UGN,los angeles,LAX,1,False,2023-06-14 08:00:00,NaT,2,United Airlines,33.942,-118.408,257.25
4,109581-3f484e4f26734a8db881ef93645fe1b5,NZC,edmonton,YED,2,True,2022-12-12 09:00:00,2022-12-18 09:00:00,1,American Airlines,53.667,-113.467,1408.50
5,110862-67f208dd9ab544b98a704b197d873dd2,YYC,chicago,ORD,1,True,2022-09-14 07:00:00,2022-10-05 07:00:00,1,United Airlines,41.786,-87.752,399.89
6,16347-d27c0b314a7d4908b5e04dcadc2c5c30,DCA,indianapolis,IND,1,True,2021-07-26 07:00:00,2021-07-28 07:00:00,0,United Airlines,39.717,-86.294,160.24
7,474409-2b8deba678f74210a1053f463b42ca9e,LUF,new york,JFK,1,True,2023-03-20 07:00:00,2023-03-23 07:00:00,1,Alitalia,40.640,-73.779,611.93
8,367646-a7318cc8afae4bb9b967381d4bc6462a,LAX,san diego,NZY,2,True,2022-11-20 13:00:00,2022-11-25 13:00:00,2,American Airlines,32.699,-117.215,59.28
9,159031-d4bd0d335bb04d3a965a21b0931c9691,LGA,philadelphia,PHL,1,True,2022-12-28 07:00:00,2023-01-02 07:00:00,1,American Airlines,39.872,-75.241,28.08

In [ ]:
query4 = """
SELECT *
FROM sessions
ORDER BY RANDOM()
LIMIT 10

;
"""
print("Result Query 4 : Table 'hotels'")
display(pd.read_sql(sa.text(query4),connection))

Result Query 4 : Table 'hotels'

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation
0,980377-41f6d9babcef4650ae3647bace175e27,980377,None,2023-07-06 14:51:00,2023-07-06 14:51:38,False,False,NaN,None,False,False,5,False
1,917196-f23214ab6e7e40049a4d1dd8ea2859fc,917196,None,2023-06-13 18:57:00,2023-06-13 18:57:52,False,False,NaN,None,False,False,7,False
2,231486-813f17769946438ab4c8fb4f08050c58,231486,None,2023-04-26 16:40:00,2023-04-26 16:49:52,False,False,NaN,None,False,False,79,False
3,2475-b877ba51d0064adbbeed45dde9ac0831,2475,None,2021-10-29 14:13:00,2021-10-29 14:14:21,False,False,NaN,None,False,False,11,False
4,377215-de90479e59904dd7884a68b37e278f11,377215,377215-ce0c2c3a9b584bc19599f20bf88ea371,2022-12-05 15:50:00,2022-12-05 15:53:15,False,False,NaN,None,True,True,26,False
5,550148-a7a31c2940304896b978ee588e23759c,550148,550148-07a13514e1a24368a631f9c5b7767410,2023-03-26 06:52:00,2023-03-26 06:54:18,False,False,NaN,None,True,False,18,False
6,453543-42e0684639de4d0a906ede9e402979ef,453543,453543-352d4af5df2745398332b986c45628f5,2023-02-28 03:21:00,2023-02-28 03:23:01,False,False,NaN,None,True,True,16,False
7,135656-8a8a8688fcb2472d85ec02d8be28ad37,135656,None,2022-04-20 17:13:00,2022-04-20 17:13:39,False,False,NaN,None,False,False,5,False
8,408631-83dc56eaa2a74c87935629f8f96b425a,408631,408631-7a42e42094dc4279828dc132299bddb6,2022-11-12 19:06:00,2022-11-12 19:10:12,True,False,0.1,None,True,False,34,False
9,898896-1d1e37b9f7a64c53abce651a1d5d4485,898896,None,2023-07-10 15:40:00,2023-07-10 15:40:46,True,False,0.1,None,False,False,6,False

In [ ]:
query5 = """
SELECT table_catalog, table_name, column_name, is_nullable, data_type,udt_name
FROM information_schema.columns
WHERE table_name IN ('users', 'sessions','flights','hotels')
ORDER BY table_name

;
"""
print("Result Query 5:Information schema of tables")
display(pd.read_sql(sa.text(query5),connection))

Result Query 5:Information schema of tables

,table_catalog,table_name,column_name,is_nullable,data_type,udt_name
0,TravelTide,flights,departure_time,YES,timestamp without time zone,timestamp
1,TravelTide,flights,return_flight_booked,YES,boolean,bool
2,TravelTide,flights,seats,YES,integer,int4
3,TravelTide,flights,destination_airport,YES,text,text
4,TravelTide,flights,destination,YES,text,text
5,TravelTide,flights,trip_id,NO,text,text
6,TravelTide,flights,origin_airport,YES,text,text
7,TravelTide,flights,base_fare_usd,YES,numeric,numeric
8,TravelTide,flights,destination_airport_lon,YES,numeric,numeric
9,TravelTide,flights,destination_airport_lat,YES,numeric,numeric
10,TravelTide,flights,trip_airline,YES,text,text
11,TravelTide,flights,checked_bags,YES,integer,int4
12,TravelTide,flights,return_time,YES,timestamp without time zone,timestamp
13,TravelTide,hotels,trip_id,NO,text,text
14,TravelTide,hotels,hotel_name,YES,text,text
15,TravelTide,hotels,nights,YES,integer,int4
16,TravelTide,hotels,rooms,YES,integer,int4
17,TravelTide,hotels,check_in_time,YES,timestamp without time zone,timestamp
18,TravelTide,hotels,check_out_time,YES,timestamp without time zone,timestamp
19,TravelTide,hotels,hotel_per_room_usd,YES,numeric,numeric
20,TravelTide,sessions,cancellation,YES,boolean,bool
21,TravelTide,sessions,user_id,YES,integer,int4
22,TravelTide,sessions,trip_id,YES,text,text
23,TravelTide,sessions,session_start,YES,timestamp without time zone,timestamp
24,TravelTide,sessions,session_end,YES,timestamp without time zone,timestamp
25,TravelTide,sessions,flight_discount,YES,boolean,bool
26,TravelTide,sessions,hotel_discount,YES,boolean,bool
27,TravelTide,sessions,flight_discount_amount,YES,numeric,numeric
28,TravelTide,sessions,hotel_discount_amount,YES,numeric,numeric
29,TravelTide,sessions,flight_booked,YES,boolean,bool
30,TravelTide,sessions,hotel_booked,YES,boolean,bool
31,TravelTide,sessions,page_clicks,YES,integer,int4
32,TravelTide,sessions,session_id,NO,text,text
33,TravelTide,users,home_airport_lon,YES,numeric,numeric
34,TravelTide,users,home_airport_lat,YES,numeric,numeric
35,TravelTide,users,home_airport,YES,text,text
36,TravelTide,users,home_city,YES,text,text
37,TravelTide,users,home_country,YES,text,text
38,TravelTide,users,has_children,YES,boolean,bool
39,TravelTide,users,married,YES,boolean,bool
40,TravelTide,users,gender,YES,text,text
41,TravelTide,users,birthdate,YES,date,date
42,TravelTide,users,user_id,NO,integer,int4
43,TravelTide,users,sign_up_date,YES,date,date

We can see some NAN values. All the formats are correct, we observe that column **'sign_up_date'** from table **'users'** has data type **'date'** and the other columns with date information are more detailed having the data type **'timestamp without time zone'**

In [ ]:
#Number of Rows of table 'users'
query6="""
SELECT COUNT(*) AS number_of_rows
FROM users
"""

print("Result query6: number of rows in table 'users'")
display(pd.read_sql(sa.text(query6),connection))

#Number of Rows of table 'sessions'
query7="""
SELECT COUNT(*) AS number_of_rows
FROM sessions
"""

print("Result query7: number of rows in table 'sessions'")
display(pd.read_sql(sa.text(query7),connection))
#Number of Rows of table 'flights'
query8="""
SELECT COUNT(*) AS number_of_rows
FROM flights
"""
print("Result query8: number of rows in table 'flights'")
display(pd.read_sql(sa.text(query8),connection))

#Number of Rows of table 'hotels'
query9="""
SELECT COUNT(*) AS number_of_rows
FROM hotels
"""

print("Result query9: number of rows in table 'hotels'")
display(pd.read_sql(sa.text(query9),connection))

Result query6: number of rows in table 'users'

   number_of_rows
0         1020926

Result query7: number of rows in table 'sessions'

   number_of_rows
0         5408063

Result query8: number of rows in table 'flights'

   number_of_rows
0         1901038

Result query9: number of rows in table 'hotels'

   number_of_rows
0         1918617

In [ ]:
#number of sessions per user
query10="""
SELECT COUNT(session_id) AS number_session_per_user, user_id
FROM sessions
GROUP BY user_id
ORDER BY number_session_per_user DESC
"""
print("Result query 10:")
display(pd.read_sql(sa.text(query10),connection))

Result query 10:

         number_session_per_user  user_id
0                             17    36751
1                             16    36448
2                             16    49389
3                             16     3745
4                             16    24936
...                          ...      ...
1020921                        1  1017884
1020922                        1   417670
1020923                        1   970474
1020924                        1   672698
1020925                        1   938230

[1020926 rows x 2 columns]

In [ ]:
#hotel names
query11="""
SELECT DISTINCT hotel_name
FROM hotels

"""
print("Result query 10:")
display(pd.read_sql(sa.text(query11),connection))

Result query 10:

                hotel_name
0        Accor - abu dhabi
1            Accor - accra
2             Accor - agra
3            Accor - amman
4        Accor - amsterdam
...                    ...
2793      Wyndham - warsaw
2794  Wyndham - washington
2795    Wyndham - winnipeg
2796       Wyndham - xi'an
2797      Wyndham - xiamen

[2798 rows x 1 columns]

Free hotel meal: first idea, maybe families with kids will enjoy this perk more than families without kids

In [ ]:
#has children?
query11="""
SELECT DISTINCT has_children
FROM users
"""
print("Result query 11: different values for column 'has_children'")
display(pd.read_sql(sa.text(query11),connection))

query12="""
SELECT COUNT(user_id) AS num_user_with_children
FROM users
WHERE has_children= True
"""
print("Result query 12: number of users with children")
display(pd.read_sql(sa.text(query12),connection))

query13="""
SELECT COUNT(user_id) AS num_user_without_children
FROM users
WHERE has_children= False
"""
print("Result query 13: number of users without children")
display(pd.read_sql(sa.text(query13),connection))

Result query 11: different values for column 'has_children'

   has_children
0         False
1          True

Result query 12: number of users with children

   num_user_with_children
0                  319637

Result query 13: number of users without children

   num_user_without_children
0                     701289

Free check bag: First idea checked bags per user, check the number of users that have more than 2 bags checked

In [ ]:
query14= """
SELECT COUNT(checked_bags) AS num_checked_bags, user_id
FROM flights
JOIN sessions
USING (trip_id)
GROUP BY user_id
HAVING COUNT(checked_bags)>2

"""
print("Result query 14: number of bags per user")
display(pd.read_sql(sa.text(query14),connection))

Result query 14: number of bags per user

        num_checked_bags  user_id
0                      7    71653
1                      3   109863
2                      3   869259
3                      4   383428
4                      3   791309
...                  ...      ...
321016                 4   277348
321017                 3   342155
321018                 4    68453
321019                 3   837847
321020                 4   167276

[321021 rows x 2 columns]

Maybe families with kids have more than 2 bags checked

In [ ]:
query15= """

SELECT s.user_id,COUNT(f.checked_bags) AS num_checked_bags
FROM flights f
LEFT JOIN sessions s
ON f.trip_id=s.trip_id
LEFT JOIN users u
ON s.user_id=u.user_id
WHERE has_children= True
GROUP BY s.user_id
HAVING COUNT(f.checked_bags)>2


"""
print("Result query 15: number of bags per user with children")
display(pd.read_sql(sa.text(query15),connection))

Result query 15: number of bags per user with children

       user_id  num_checked_bags
0            9                 3
1           11                 3
2           16                 4
3           20                 4
4           23                 6
...        ...               ...
93791   965541                 3
93792   965676                 3
93793   971323                 3
93794   974040                 3
93795   985401                 3

[93796 rows x 2 columns]

Maybe free checked bags makes more sense for families without kids if we have to offer only one perk per user

In [ ]:
query16= """

SELECT s.user_id,COUNT(f.checked_bags) AS num_checked_bags
FROM flights f
LEFT JOIN sessions s
ON f.trip_id=s.trip_id
LEFT JOIN users u
ON s.user_id=u.user_id
WHERE has_children= False
GROUP BY s.user_id
HAVING COUNT(f.checked_bags)>2


"""
print("Result query 16: number of bags per user without children")
display(pd.read_sql(sa.text(query16),connection))

Result query 16: number of bags per user without children

        user_id  num_checked_bags
0             1                 4
1             2                 4
2             5                 5
3             7                 6
4            13                 4
...         ...               ...
227220   978710                 3
227221   982061                 3
227222   982226                 3
227223   982638                 3
227224   984725                 3

[227225 rows x 2 columns]

In [ ]:
query17= """

SELECT u.user_id, COUNT(rooms) AS num_rooms
FROM hotels
LEFT JOIN flights f
USING (trip_id)
LEFT JOIN sessions s
USING(trip_id)
LEFT JOIN users u
USING (user_id)
GROUP BY u.user_id


"""

display(pd.read_sql(sa.text(query17),connection))

        user_id  num_rooms
0        260967          1
1        305469          1
2        139056          5
3        174416          3
4        165533          2
...         ...        ...
838491    68453          4
838492   710096          2
838493   733333          1
838494   837847          2
838495   167276          5

[838496 rows x 2 columns]

Note that all the trips has only one room associated

In [ ]:
query18= """

SELECT trip_id, COUNT(rooms) AS num_rooms
FROM hotels
GROUP BY trip_id


"""

display(pd.read_sql(sa.text(query18),connection))

                                         trip_id  num_rooms
0             0-4660ff6465694177915a89aadedf81cc          1
1             0-f866480914464318806e02de349732fb          1
2             1-240dcec347d74794a42f89db57252550          1
3             1-33f4dd1c86c84a8090a07c78e22cc568          1
4             1-5c004de308e34f7485cd737cb32b441e          1
...                                          ...        ...
1918612   99999-d6a990ee0f5040a388ec13d0ef9c2626          1
1918613  999992-5a728bb5aaf2419b9b14c77580d085c8          1
1918614  999995-5e52d7964cc241a1ac78d38c52783836          1
1918615  999996-52a56591add047ae8ee66fce885be68e          1
1918616  999997-cbe1faefc8034c49810b057bc08c7e7f          1

[1918617 rows x 2 columns]

number of trips of user_id=167276

In [ ]:
query19= """

SELECT COUNT(trip_id) AS num_trips
FROM users u
LEFT JOIN sessions s
USING (user_id)
LEFT JOIN flights f
USING (trip_id)
WHERE u.user_id=167276


"""

display(pd.read_sql(sa.text(query19),connection))

   num_trips
0          5

The number of trips is greater or equal to number of trips per user_id

In [ ]:
query19= """

SELECT u.user_id
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels
USING(trip_id)
GROUP BY u.user_id
HAVING COUNT(trip_id) - COUNT(rooms)<0


"""

display(pd.read_sql(sa.text(query19),connection))

Empty DataFrame
Columns: [user_id]
Index: []

There users with rooms and without trip_id

In [ ]:
query20= """
SELECT f.trip_id, COUNT(rooms) AS number_of_rooms
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels
USING(trip_id)
GROUP BY f.trip_id
LIMIT 10
"""
display(pd.read_sql(sa.text(query20),connection))

                                   trip_id  number_of_rooms
0                                     None           345463
1  608495-4cae5f199d1845f192fa73dd16432703                1
2  184392-9583fe73fa654905bbcab956435148cd                1
3  701137-9010d333838d436f98bc064a3b92fd41                1
4  987237-f938f203adc742acace9b004223f8dca                2
5  852075-a6e70b3436fe4b6aada83ac9f5ebd145                1
6  124047-9b47ccc9b63546149b0497d15a74ddcd                1
7  240474-ae1b3f833c6d46729aa2f37c532455b2                1
8  800163-aad2fb29b4fe4ad7ab7ff1561d8cd6e0                1
9    1816-c11c68b770f944a6ae9e447803ac2331                1

No Cancellation fees (perks)

In [ ]:
#With discounts
query21= """
SELECT s.user_id,f.trip_id, s.cancellation, s.hotel_discount,h.hotel_per_room_usd, h.nights,
s.flight_discount, f.base_fare_usd
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE s.cancellation='True' AND (s.hotel_discount='True' OR s.flight_discount='True')

"""
display(pd.read_sql(sa.text(query21),connection))

,user_id,trip_id,cancellation,hotel_discount,hotel_per_room_usd,nights,flight_discount,base_fare_usd
0,60170,60170-c54f62d9b8bb4a54a04510761e43d277,True,True,NaN,NaN,True,365.12
1,323,323-5efa90ec75cc4685be53e4b15ed7df18,True,True,NaN,NaN,True,1359.14
2,1052,1052-48b4bdab92b74d608e7938cf7ebadf53,True,True,NaN,NaN,True,650.03
3,1684,1684-0c46c680cf06409f8e1754d600153186,True,True,352.0,1.0,True,391.96
4,530,530-1456bfccc8ab4ac4b3e449d4d952f9ac,True,True,85.0,13.0,True,294.59
...,...,...,...,...,...,...,...,...
90665,353415,353415-6b1b6e4b0e5a44628b397df858f6ae66,True,True,300.0,6.0,True,501.05
90666,353491,353491-786ed51e0d9848a5bb561cc880ec950c,True,True,NaN,NaN,True,1711.67
90667,439285,439285-73801e8f605444c09228066585c3b7e1,True,True,373.0,9.0,True,216.88
90668,446705,446705-b75523e281854f9180d268a0be7ab658,True,True,NaN,NaN,True,1317.07
90669,489963,489963-9e518e7c1d174051aecfa51b510d4ca3,True,True,29.0,9.0,True,1105.67

In [ ]:
#only users with discounts cancelled
query22= """
SELECT s.user_id,f.trip_id, s.cancellation, s.hotel_discount,h.hotel_per_room_usd, h.nights,
s.flight_discount, f.base_fare_usd
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE s.cancellation='True'


"""
display(pd.read_sql(sa.text(query22),connection))

,user_id,trip_id,cancellation,hotel_discount,hotel_per_room_usd,nights,flight_discount,base_fare_usd
0,201052,201052-5974469699fc4e048329612e3dcbb291,True,True,107.0,15.0,True,104.04
1,18020,18020-015c9f605f49486591f6634453b27af6,True,True,264.0,11.0,True,397.56
2,2923,2923-0a8e1287857f4da395fb72764742d5ab,True,True,NaN,NaN,True,1706.82
3,18425,18425-a91441264bde4e70845d9c6ecb612d6f,True,True,98.0,6.0,True,2817.40
4,8758,8758-3d73befb4fcd4a7fa6a8cb9452eb1d5a,True,True,143.0,13.0,True,1409.35
...,...,...,...,...,...,...,...,...
90665,208542,208542-70e1706978d5439fb96aeec8480eab58,True,True,71.0,13.0,True,2821.39
90666,221215,221215-96c261aa957947349cf214ca9ea51fa4,True,True,NaN,NaN,True,971.75
90667,292302,292302-11d624b2b8434c0f8f973d3f3d34d119,True,True,NaN,NaN,True,59.21
90668,342673,342673-79287a5e45674f119f3d5a2148d2c354,True,True,142.0,9.0,True,8198.25
90669,457846,457846-772b4cdc94924d15be4d03f5cd99d0ab,True,True,NaN,NaN,True,1069.85

In [ ]:
#without discounts
query23= """
SELECT s.user_id,f.trip_id, s.cancellation, s.hotel_discount,h.hotel_per_room_usd, h.nights,
s.flight_discount, f.base_fare_usd
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE s.cancellation='True' AND s.hotel_discount='False' AND s.flight_discount='False'


"""
display(pd.read_sql(sa.text(query23),connection))

Empty DataFrame
Columns: [user_id, trip_id, cancellation, hotel_discount, hotel_per_room_usd, nights, flight_discount, base_fare_usd]
Index: []

Successful discounts (no cancellation)

In [ ]:
#With discounts and no cancellation
query24= """
SELECT s.user_id,f.trip_id, s.cancellation, s.hotel_discount,h.hotel_per_room_usd, h.nights,
s.flight_discount, f.base_fare_usd
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE s.cancellation='False' AND (s.hotel_discount='True' OR s.flight_discount='True')

"""
display(pd.read_sql(sa.text(query24),connection))

,user_id,trip_id,cancellation,hotel_discount,hotel_per_room_usd,nights,flight_discount,base_fare_usd
0,786608,None,False,False,NaN,NaN,True,NaN
1,786642,None,False,False,NaN,NaN,True,NaN
2,786732,None,False,False,NaN,NaN,True,NaN
3,786751,None,False,True,NaN,NaN,False,NaN
4,786885,None,False,False,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...
1440139,161333,None,False,True,NaN,NaN,True,NaN
1440140,163625,163625-afb0e29f312f4186a4a65e6e8dac71b5,False,False,69.0,2.0,True,405.31
1440141,166026,None,False,True,NaN,NaN,False,NaN
1440142,166983,None,False,False,NaN,NaN,True,NaN
1440143,167206,None,False,False,NaN,NaN,True,NaN

In [ ]:
#No cancellation, no discounts

query24= """
SELECT s.user_id,f.trip_id, s.cancellation, s.hotel_discount,h.hotel_per_room_usd, h.nights,
s.flight_discount, f.base_fare_usd
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE s.cancellation='False' AND s.hotel_discount='False' AND s.flight_discount='False'

"""
display(pd.read_sql(sa.text(query24),connection))

exclusive discounts

In [ ]:
#number of users with seats>1 grouped by cancellation statement:
#proportion (14%) of users with 1 seat that cancel is less than users with more than 1 seat (2.5%)

query25= """
SELECT s.cancellation,COUNT(s.user_id) AS num_users
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE f.seats>1
GROUP BY s.cancellation



"""
display(pd.read_sql(sa.text(query25),connection))

In [ ]:
#number of users with seats=1 grouped by cancellation statement

query26= """
SELECT s.cancellation,COUNT(s.user_id) AS num_users
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE f.seats=1
GROUP BY s.cancellation



"""
display(pd.read_sql(sa.text(query26),connection))

1 night free hotel with flight

In [ ]:
#users with flight and more than 1 night per trip
query27= """
SELECT u.user_id, f.trip_id, COUNT(h.nights) AS num_nights_per_trip
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE f.trip_id IS NOT NULL
GROUP BY u.user_id, f.trip_id
HAVING COUNT(h.nights)>1

"""
display(pd.read_sql(sa.text(query27),connection))

In [ ]:
#number of trips and sessions per user
query27= """
SELECT u.user_id, COUNT(f.trip_id) AS num_trips_per_user, COUNT(s.session_id) AS num_of_sessions
FROM users u
FULL JOIN sessions s
USING (user_id)
FULL JOIN flights f
USING (trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE f.trip_id IS NOT NULL
GROUP BY u.user_id
ORDER BY RANDOM()
"""
display(pd.read_sql(sa.text(query27),connection))

        user_id  num_trips_per_user  num_of_sessions
0        921722                   1                1
1        714946                   3                3
2         47097                   2                2
3        780108                   1                1
4        161738                   4                4
...         ...                 ...              ...
843573    91986                   5                5
843574   773056                   2                2
843575    46994                   5                5
843576   102988                   3                3
843577   160249                   2                2

[843578 rows x 3 columns]

####Up until here, the phase was just randomly exploratory to get a better understanding of the tables and information. Data cleaning will be done in Python.

##Descriptive Analysis and Filters
Data will be consider after Jan 4 2023 by recomendation of the head of marketing to consider only recent customers

In [ ]:
#Descriptive Analysis: Users
query28= """
SELECT u.user_id,u.gender, u.married, u.has_children, u.home_country, s.session_start
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
ORDER BY RANDOM()

"""
display(pd.read_sql(sa.text(query28),connection))

,user_id,gender,married,has_children,home_country,session_start
0,432220,M,True,True,usa,2023-05-02 02:31:00
1,847711,F,False,True,usa,2023-06-12 12:07:00
2,675062,F,True,True,canada,2023-05-30 12:32:00
3,62483,M,True,True,usa,2023-03-06 20:30:00
4,533895,F,False,False,usa,2023-03-11 16:10:00
...,...,...,...,...,...,...
3102845,452185,M,True,True,usa,2023-01-26 19:48:00
3102846,308531,F,False,True,usa,2023-07-07 20:38:00
3102847,461610,F,True,False,usa,2023-02-20 19:08:00
3102848,717644,F,True,False,canada,2023-05-25 10:40:00
3102849,442032,M,False,False,canada,2023-02-24 16:18:00

In [ ]:
#Descriptive Analysis
#Birth year distribution per user
query29= """
SELECT COUNT(DISTINCT u.user_id) AS num_users, EXTRACT(YEAR FROM u.birthdate) AS birth_year
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY EXTRACT(YEAR FROM u.birthdate)
ORDER BY COUNT(u.user_id) DESC
"""
display(pd.read_sql(sa.text(query29),connection))

    num_users  birth_year
0       41359      2006.0
1       30494      1984.0
2       30104      1983.0
3       30018      1982.0
4       29813      1985.0
..        ...         ...
71         32      1935.0
72         24      1934.0
73          7      1933.0
74          5      1932.0
75          1      1931.0

[76 rows x 2 columns]

In [ ]:
##Age distribution per user
query29= """
SELECT COUNT(DISTINCT u.user_id) AS num_users, DATE_PART('YEAR',AGE(u.birthdate)) AS user_age
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY DATE_PART('YEAR',AGE(u.birthdate))
ORDER BY COUNT(u.user_id) DESC
"""
display(pd.read_sql(sa.text(query29),connection))

    num_users  user_age
0       30306      41.0
1       30200      40.0
2       30116      42.0
3       29821      44.0
4       29620      43.0
..        ...       ...
72         24      90.0
73         16      91.0
74          5      92.0
75          1      93.0
76          1      94.0

[77 rows x 2 columns]

In [ ]:
##Customer age: period in months since the user signed up
query30= """
SELECT COUNT(u.user_id) AS num_users, EXTRACT('MONTH' FROM u.sign_up_date) AS customer_age
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY EXTRACT('MONTH' FROM sign_up_date)
ORDER BY COUNT(user_id) DESC
"""
display(pd.read_sql(sa.text(query30),connection))

    num_users  customer_age
0      401447           3.0
1      377106           4.0
2      355080           5.0
3      349930           1.0
4      333247           2.0
5      299940           6.0
6      249861          12.0
7      185493           7.0
8      184021          11.0
9      141976          10.0
10     114462           9.0
11     110287           8.0

In [ ]:
query31= """
SELECT COUNT(s.session_id) AS num_sessions, s.flight_booked,s.hotel_booked, s.cancellation
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY  s.cancellation, s.flight_booked,s.hotel_booked
ORDER BY s.cancellation
"""
display(pd.read_sql(sa.text(query31),connection))

   num_sessions  flight_booked  hotel_booked  cancellation
0       1760798          False         False         False
1        197207          False          True         False
2        187209           True         False         False
3        903140           True          True         False
4         54496           True          True          True

###A segmentation by Success_of_the_session column

In [ ]:
query32= """
WITH Success_table AS (SELECT u.user_id, COUNT(s.session_id) AS num_sessions,
CASE WHEN s.cancellation='False' AND s.flight_booked='False' AND s.hotel_booked='False' THEN 'no_booked'
WHEN s.cancellation='True' AND s.flight_booked='True' AND s.hotel_booked='True'  THEN 'booked_and_cancelled'
ELSE 'Yes'
END AS Success_of_the_session
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY u.user_id, Success_of_the_session

ORDER BY Success_of_the_session)

SELECT Success_of_the_session,COUNT(user_id) AS num_users
FROM Success_table
GROUP BY Success_of_the_session

"""
display(pd.read_sql(sa.text(query32),connection))

###Let us look at what happens to users with less than 3 sessions.

In [ ]:
query33= """
WITH Success_table AS (SELECT u.user_id, COUNT(s.session_id) AS num_sessions,
CASE WHEN s.cancellation='False' AND s.flight_booked='False' AND s.hotel_booked='False' THEN 'no_booked'
WHEN s.cancellation='True' AND s.flight_booked='True' AND s.hotel_booked='True'  THEN 'booked_and_cancelled'
ELSE 'Yes'
END AS Success_of_the_session
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY u.user_id, Success_of_the_session
HAVING COUNT(s.session_id)<3
ORDER BY Success_of_the_session)

SELECT Success_of_the_session,COUNT(user_id) AS num_users
FROM Success_table
GROUP BY Success_of_the_session

"""
display(pd.read_sql(sa.text(query33),connection))

  success_of_the_session  num_users
0                    Yes     627914
1   booked_and_cancelled      54263
2              no_booked     528577

###Let us look at what happens to users with more than or equal to 3 sessions.

In [ ]:
query34= """
WITH Success_table AS (SELECT u.user_id, COUNT(s.session_id) AS num_sessions,
CASE WHEN s.cancellation='False' AND s.flight_booked='False' AND s.hotel_booked='False' THEN 'no_booked'
WHEN s.cancellation='True' AND s.flight_booked='True' AND s.hotel_booked='True'  THEN 'booked_and_cancelled'
ELSE 'Yes'
END AS Success_of_the_session
FROM users u
JOIN sessions s
USING (user_id)
WHERE s.session_start>'2023-01-04'
GROUP BY u.user_id, Success_of_the_session
HAVING COUNT(s.session_id)>=3
ORDER BY Success_of_the_session)

SELECT Success_of_the_session,COUNT(user_id) AS num_users
FROM Success_table
GROUP BY Success_of_the_session

"""

display(pd.read_sql(sa.text(query34),connection))

###Conclusion: Users with more than 3 sessions do not cancel or do not book.

### Summary tables and aggregations

Based on the Data Exploratory Notebook in Python: Negative values in hotels:
  - nights: 12067 negative values of 8195281
  
So, for aggregations we will replace those values with 0.

In [ ]:
query35= """
SELECT u.user_id,u.gender,u.home_country,u.home_city,u.home_airport,EXTRACT(DAY FROM NOW()-sign_up_date) AS days_since_signed_up,
CASE WHEN u.has_children='True' THEN '1' ELSE '0'END AS has_children,
CASE WHEN u.married='True' THEN '1' ELSE '0' END AS is_married,
CASE WHEN u.has_children='True' OR u.married='True' THEN '1' ELSE '0' END AS is_family,
ROUND(CAST(DATE_PART('YEAR',AGE(CURRENT_DATE, u.birthdate::date))+(DATE_PART('MONTH',AGE(CURRENT_DATE,u.birthdate::date))/12.0) AS numeric),2) AS age_in_years_with_months,
s.session_id, s.page_clicks,EXTRACT(MINUTES FROM session_end-session_start)+ (EXTRACT(SECONDS FROM session_end-session_start)/60.0) AS session_duration_in_min,
s.trip_id,
CASE WHEN s.flight_discount='True' THEN '1' ELSE '0'END AS flight_discount,
s.flight_discount_amount,
CASE WHEN s.hotel_discount='True' THEN '1' ELSE '0'END AS hotel_discount,
hotel_discount_amount,
CASE WHEN s.cancellation='True' THEN '1' ELSE '0'END AS trip_cancellation,
CASE WHEN s.flight_booked='True' THEN '1' ELSE '0' END AS flight_booked,
u.home_airport, h.hotel_name,
CASE WHEN f.return_flight_booked='True' THEN '1' ELSE '0' END AS return_flight_booked,
h.nights, s.flight_discount_amount, f.base_fare_usd, h.hotel_per_room_usd,
h.rooms, SPLIT_PART(hotel_name,'-',2) AS destination_hotel_name, f.trip_airline,f.destination AS destination_flight,
f.seats, f.checked_bags, home_airport_lat,home_airport_lon, destination_airport_lat,destination_airport_lon








FROM users u
FULL JOIN sessions s
USING(user_id)
FULL JOIN flights f
USING(trip_id)
FULL JOIN hotels h
USING(trip_id)
WHERE u.user_id='510841'



"""

display(pd.read_sql(sa.text(query35),connection))

,user_id,gender,home_country,home_city,home_airport,days_since_signed_up,has_children,is_married,is_family,age_in_years_with_months,...,rooms,destination_hotel_name,trip_airline,destination_flight,seats,checked_bags,home_airport_lat,home_airport_lon,destination_airport_lat,destination_airport_lon
0,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,houston,Alitalia,houston,1.0,0.0,45.68,-74.039,29.607,-95.159
1,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,detroit,Ryanair,detroit,1.0,0.0,45.68,-74.039,42.409,-83.010
2,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,dallas,Southwest Airlines,dallas,1.0,0.0,45.68,-74.039,32.847,-96.852
3,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,2.0,phoenix,United Airlines,phoenix,2.0,1.0,45.68,-74.039,33.535,-112.383
4,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,memphis,Southwest Airlines,memphis,1.0,0.0,45.68,-74.039,35.042,-89.977
5,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,NaN,None,None,None,NaN,NaN,45.68,-74.039,NaN,NaN
6,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,el paso,Delta Air Lines,el paso,1.0,1.0,45.68,-74.039,31.849,-106.380
7,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,chicago,American Airlines,chicago,1.0,0.0,45.68,-74.039,41.786,-87.752
8,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,2.0,phoenix,United Airlines,phoenix,2.0,1.0,45.68,-74.039,33.535,-112.383
9,510841,M,canada,montreal,YMX,849.0,0,0,0,38.58,...,1.0,san antonio,Delta Air Lines,san antonio,1.0,1.0,45.68,-74.039,29.529,-98.279

In [ ]:
query36= """
SELECT DISTINCT u.gender, u.has_children,u.married
FROM users u

"""

display(pd.read_sql(sa.text(query36),connection))